.portfolio__main{
    width: 100%;
    /* padding: 5%; */
}
.portfolio__heading{
    color: #007bff;
    font-size: 40px;
    font-weight: 700;
    margin-top: 40px;
    text-align: center;
}
.portfolio__btnDiv{
    margin-left: 37.5%;
    width: 50%;
    display: flex;
    text-align: center;
    gap: 20px;
    padding-bottom: 10%;
}
.portfolio__btn{
    width: 10%;
    font-size: 12px;
    background-color: #fff;
    color: black;
    /* border: none; */
    border-radius: 18px;
    outline: none;
}
.portfolio__btn:hover{
    background-color: #007bff;
    color: #fff;
}
.portfolio__btnAll{
    background-color: #007bff;
    color: #fff;
    width: 10%;
    font-size: 12px;
    border-radius: 18px;
    outline: none;
}
.portfolio__c1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    
    /* height: 800px; */
    /* background-color: #007bff; */
    
}
.test{
    position: relative;

}
/* img{
    display: block;
} */
.portfolio__images{

    display: flex;
    gap: 30px;
    padding: 0% 10% 10% 10%;
}
/* .portfolio__c1>img:hover{
opacity: 60%;

} */
.overlay:hover{
    opacity: 0.5;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100%;
    width: 100%; */
    opacity: 0;
    transition: .5s ease;
    background-color: gray;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
